<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <div class="jumbotron">
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
      {% endfor %}
    {% endif %}
    <h1>Welcome to GunGani's Voting page</h1>
    <h3>This is a simple voting application for my Foss task.</h3>
    <a href = "{% url 'position' %}">Go_to_voting_niggers</a>
  </div>